<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>mosnad|dashboard</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">SUAD org.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-light" type="submit">logout</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid py-3 ">
    <div class="row ">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <h4 class="card-title">welcom back user name...</h4>
            <p class="card-text">you can use this system to loan your favorite books 🫶🏻🥳</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="text-center">---Start your trip now----</div>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <button type="button" class="btn btn-primary">Category1</button>
        <div class="table-responsive my-4">
          <table class="table table-bordered border-dark">
            <thead>
              <th>#</th>
              <th>Book</th>
              <th>Auther</th>
              <th>Category</th>
              <th>Action</th>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td class="fw-bold>Book Auther</td>
                <td class="">Book Number1</td>
                <td class="">Book auther</td>
                <td> <span class=" badge bg-info">Technology</span></td>
                <td>
                  <button type="button" class="btn btn-primary"> loan now
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <script src="../assets/js/bootstrap.bundle.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/script.js"></script>
  <script>

  </script>
</body>

</html>