<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>mosnad|login</title>
</head>

<body>

    <div class="container my-5">
        <div class="row justify-content-center my-5">
            <div class="col-md-4 col-sm-12  border py-3 px-4">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="h2 text-primary fw-bold border-bottom">

                                LOGIN
                            </div>
                            <div class="h6 text-grey">

                                Welcome Back...


                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <label for="email">User Email</label>
                            <div>
                                <input type="email" class="form-control" name="email" required id="" />
                            </div>
                            <div class="text-dark">
                                *the email is required
                            </div>
                        </div>
                        <div class="col-12 my-1">
                            <label for="email">User Password</label>
                            <div class="">
                                <input type="password" class="form-control" name="password" required id="" />
                            </div>
                            <div class="text-dark">
                                *the password is required
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100">Login</button>
                            <div class="d-flex justify-content-start">
                                <div class="text-grey mx-1">you dont have account,</div>

                                <a href="register.html" class="text-primary">register</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="../assets/js/bootstrap.bundle.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/script.js"></script>
    <script>

    </script>
</body>

</html>